                    <div class="title_left" align="center">
                      <h3>I am from Testing</h3>
                      <br>
                      </div>
                      <div align="center">
                       <button type="button" class="btn btn-primary btn-lg" ng-click="vote.log();">
                       &nbsp;&nbsp;&nbsp;&nbsp;Vorter&nbsp;&nbsp;&nbsp;&nbsp;
                     </button>
                       <h3><span>OR</span></h3>
                       <button type="button" class="btn btn-dark btn-lg">Candidate</button>
                      </div>